* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    width: 100%;
    height: 100%;

    text-align: center;

    color: #fff;
    background-color: #46aef7;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:active,
a:link,
a:focus {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

canvas {
    display: block;
}

#content {
    font-size: 2em;

    position: absolute;

    width: 100%;
    height: 99%;
    padding-top: 5%;

    -webkit-animation: fadein 2.4s;
    -moz-animation: fadein 2.4s;
    -o-animation: fadein 2.4s;
    animation: fadein 2.4s;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-size: 3.7em;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
}


footer {
    position: fixed;
    clear: both;
    bottom: 10px;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;

    width: 100%;

    -webkit-animation: fadein 2s forwards;
    -moz-animation: fadein 2s forwards;
    -o-animation: fadein 2s forwards;
    animation: fadein 2s forwards;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;

    opacity: 0;
}

nav.navsocial ul li {
    display: inline-block;
}

.patryk_rzucidlo_ptkdev img {
    width: 150px;
    height: 150px;

    border: 2px solid #fff;
    border-radius: 50%;
}

.particles-js {
    width: 100%;
    height: 99%;

    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#cookie_info {
    position: fixed;
    width: 100%;
    background-color: #46aef7;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    left: 0;
    bottom: 0;
    padding: 6px;
    font-size: 14px;
    z-index: 1000;
    text-align: center;
}
#cookie_dismiss {
    background-color: #FFF;
    color: #818181;
    padding: 3px;
    border-radius: 20%;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.cache {
    display: none;
}

.version {
    font-size: 8px;
    vertical-align: bottom;
    float: right;
    color: #818181;
    position: absolute;
    bottom: 10px;
    left: 33px;
    width: 40px;
}

a.cookie_policy {
    font-size: 8px;
}

.only-desktop {
    display: inline !important;
}
.only-mobile {
    display: none !important;
}

@media (max-width: 2560px) {}

@media (max-width: 1920px) {
    p {
        font-size: 1em;
    }
}

@media (max-width: 1440px) {}

@media (max-width: 1024px) {
    #content {
        padding-top: 10%;
    }
}

@media (max-width: 768px) {
    #content {
        font-size: 0.7em;
        padding-top: 10%;
    }

    .patryk_rzucidlo_ptkdev img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 425px) {
    nav.navsocial ul {
        width: 320px;
        margin: 0 auto;
    }
    #content {
        padding-top: 22%;
    }
    .only-desktop {
        display: none !important;
    }
    .only-mobile {
        display: inline !important;
    }
    p {
        font-size: 1.2em;
    }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {
    p {
        font-size: 1em;
    }
}