.fa,
.fa:hover {
    font-size: 30px;

    width: 50px;
    height: 50px;
    margin: 5px 2px;
    padding-top: 9px;
    padding-left: 1px;

    text-align: center;
    text-decoration: none;

    opacity: 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.fa:hover {
    cursor: pointer;
}

.fa-facebook {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.2s;
       -moz-animation-delay: 1.2s;
         -o-animation-delay: 1.2s;
            animation-delay: 1.2s;

    color: #fff;
    background: #3b5998;
}

.fa-twitter {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.4s;
       -moz-animation-delay: 1.4s;
         -o-animation-delay: 1.4s;
            animation-delay: 1.4s;

    color: #fff;
    background: #55acee;
}

.fa-google {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 2.0s;
       -moz-animation-delay: 2.0s;
         -o-animation-delay: 2.0s;
            animation-delay: 2.0s;

    color: #fff;
    background: #dd4b39;
}

.fa-linkedin {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 2s;
       -moz-animation-delay: 2s;
         -o-animation-delay: 2s;
            animation-delay: 2s;

    color: #fff;
    background: #007bb5;
}

.fa-youtube {
    color: #fff;
    background: #b00;
}

.fa-instagram {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.6s;
       -moz-animation-delay: 1.6s;
         -o-animation-delay: 1.6s;
            animation-delay: 1.6s;

    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.fa-pinterest {
    color: #fff;
    background: #cb2027;
}

.fa-snapchat-ghost {
    color: #fff;
    background: #fffc00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    color: #fff;
    background: #00aff0;
}

.fa-android {
    color: #fff;
    background: #a4c639;
}

.fa-dribbble {
    color: #fff;
    background: #ea4c89;
}

.fa-vimeo {
    color: #fff;
    background: #45bbff;
}

.fa-tumblr {
    color: #fff;
    background: #2c4762;
}

.fa-vine {
    color: #fff;
    background: #00b489;
}

.fa-foursquare {
    color: #fff;
    background: #45bbff;
}

.fa-stumbleupon {
    color: #fff;
    background: #eb4924;
}

.fa-flickr {
    color: #fff;
    background: #f40083;
}

.fa-yahoo {
    color: #fff;
    background: #430297;
}

.fa-soundcloud {
    color: #fff;
    background: #f50;
}

.fa-reddit {
    color: #fff;
    background: #ff5700;
}

.fa-rss {
    color: #fff;
    background: #f60;
}

.fa-github {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.8s;
       -moz-animation-delay: 1.8s;
         -o-animation-delay: 1.8s;
            animation-delay: 1.8s;

    color: #fff;
    background: #24292e;
}

.fa-medium {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.8s;
       -moz-animation-delay: 1.8s;
         -o-animation-delay: 1.8s;
            animation-delay: 1.8s;

    color: #fff;
    background: #34a853;
}

.fa-envelope {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.2s;
       -moz-animation-delay: 1.2s;
         -o-animation-delay: 1.2s;
            animation-delay: 1.2s;

    color: #fff;
    background: #fbbc05;
}

.fa-whatsapp {
    color: #fff;
    background: #00e676;
}

.fa-telegram {
    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.4s;
       -moz-animation-delay: 1.4s;
         -o-animation-delay: 1.4s;
            animation-delay: 1.4s;

    color: #fff;
    background: #32afed;
}

.fa-ptkdev-stickers {
    padding-top: 9px;

    -webkit-animation: fadein 2s forwards;
       -moz-animation: fadein 2s forwards;
         -o-animation: fadein 2s forwards;
            animation: fadein 2s forwards;
    -webkit-animation-delay: 1.6s;
       -moz-animation-delay: 1.6s;
         -o-animation-delay: 1.6s;
            animation-delay: 1.6s;

    color: #fff;
    background: #fff;
}

.fa-ptkdev-stickers img {
    width: 30px;
    height: 30px;
}
