<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Person" lang="it">

<head>
    <!--
    Author:    {{ config['site-name'] }}
    E-mail:    {{ config['site-mail'] }}
    Twitter:   {{ config['site-twitter'] }}
    Phone:     {{ config['site-phone'] }}
    Copyright: {{ config['site-license'] }}
    Source:    {{ config['site-source'] }}
    -->
    <!--Default meta tag-->
    <meta charset="UTF-8" />
    <title>{{ post['page-title'] }} - {{ config['site-name'] }}</title>
    <meta name="author" content="{{ config['site-name'] }}" />
    <meta name="description" content="{{ post['page-seo-description'] }}" />
    <meta name="keywords" content="{{ post['page-seo-keywords'] }}" />
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="rating" content="general" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="shortcut icon" type="image/ico" href="{{ config['site-url'] }}/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ config['site-url'] }}/favicon.png" />
    <link rel="pingback" href="{{ config['site-url'] }}/xmlrpc" />
    <link rel="help" title="FAQ" href="{{ config['site-url'] }}/docs" />
    <!--Facebook OpenGraph-->
    <meta property="og:url" content="{{ config['site-url'] }}" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ config['site-name'] }} - {{ post['page-title'] }}" />
    <meta property="og:image" content="{{ config['site-url'] }}/img/{{ post['page-image'] }}" />
    <meta property="og:description" content="{{ post['page-seo-description'] }}" />
    <meta property="article:author" content="https://www.facebook.com/ptkdev" />
    <meta property="article:tag" content="developer" />
    <meta property="article:section" content="Portfolio" />
    <!--Google Plus-->
    <meta itemprop="name" content="{{ config['site-name'] }}" />
    <meta itemprop="description" content="{{ post['page-seo-description'] }}" />
    <meta itemprop="image" content="{{ config['site-url'] }}/img/{{ post['page-image'] }}" />
    <link rel="me" type="text/html" href="http://google.com/profiles/ptkdev" />
    <link rel="publisher" href="https://plus.google.com/+PatrykRzucidlo" />
    <!--Google Webmaster-->
    <meta name="google-site-verification" content="{{ config['google-verify'] }}" />
    <!--Android-->
    <meta name="theme-color" content="#46aef7">
    <link rel="manifest" href="{{ config['site-url'] }}/assets/google/manifest.json" />
    <!--Twitter Card-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ config['site-twitter'] }}" />
    <meta name="twitter:title" content="{{ post['page-title'] }} - {{ config['site-name'] }}" />
    <meta name="twitter:description" content="{{ post['page-seo-description'] }}" />
    <meta name="twitter:creator" content="{{ config['site-twitter'] }}" />
    <meta name="twitter:image" content="{{ config['site-url'] }}/img/{{ post['page-image'] }}" />
    <meta name="p:domain_verify" content="{{ config['twitter-verify'] }}" />
    <!--Apple-->
    <meta name="apple-mobile-web-app-title" content="{{ post['page-title'] }} - {{ config['site-name'] }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ config['site-url'] }}/img/favicon_apple.png" rel="apple-touch-icon" type="image/png" />
    <link href="{{ config['site-url'] }}/img/favicon_apple_startupimg.png" rel="apple-touch-startup-image" />
    <!--Feed RSS / ATOM-->
    <link rel="alternate" type="application/rss+xml" title="{{ config['site-name'] }} - {{ post['page-title'] }}: Feed RSS" href="{{ config['site-url'] }}/feed.rss" />
    <link rel="alternate" type="application/atom+xml" title="{{ config['site-name'] }} - {{ post['page-title'] }}: Atom" href="{{ config['site-url'] }}/feed.atom" />
    <!-- CSS -->
    <style>
        {% include "../css/vendor/bootstrap/bootstrap.min.css" ignore missing %}
        {% include "../css/vendor/fontawesome/fontawesome.min.css" ignore missing %}
        {% include "../css/default.css" ignore missing %}
        {% include "../css/fa.css" ignore missing %}
        {% include "../css/hamburgermenu.css" ignore missing %}
        {% include "../css/sidebar.css" ignore missing %}
    </style>
    <!--Internet Explorer-->
    <!--[if IE]><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><![endif]-->
</head>

<body>
    <div id="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav id="sidebar" class="sidebar">
        <ul class="navsidebar">
            <li><a href="//blog.ptkdev.it">Blog</a></li>
            <li><a href="//cv.ptkdev.it">Curriculum Vitae</a></li>
            <li><a href="//stickers.ptkdev.it">Stickers Telegram</a></li>
            <li><a href="//istickers.ptkdev.it">Stickers iMessage</a></li>
        </ul>
        <div class="version">v0.1 Alpha</div>
    </nav>
    <div id="main">
        <div id="content">
            <header>
                <picture class="patryk_rzucidlo_ptkdev">
                    <source srcset="/img/ptkdev_patryk_rzucidlo_avatar_1024.webp" type="image/webp">
                    <source srcset="/img/ptkdev_patryk_rzucidlo_avatar_1024.png" type="image/png">
                    <img src="/img/ptkdev_patryk_rzucidlo_avatar_1024.jpg" alt="Patryk Rzucidło (PTKDev)">
                </picture>
                
            </header>
            <article>
                <h1>Patryk Rzucidło</h1>
                <p>Software Developer &bull; Creative Writer &bull; #MuralesHunter</p>
            </article>
            <nav class="navsocial">
                <ul>
                    <li><a href="//www.facebook.com/ptkdev" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="//twitter.com/ptkdev" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="//www.instagram.com/ptkdev/" target="_blank" class="fa fa-instagram"></a></li>
                    <li><a href="//blog.ptkdev.it" target="_blank" class="fa fa-medium"></a></li>
                    <li><a href="//plus.google.com/+PatrykRzucidlo" target="_blank" class="fa fa-google"></a></li>
                    <li><a href="//www.linkedin.com/in/ptkdev" target="_blank" class="fa fa-linkedin"></a></li>
                    <li><a href="//github.com/ptkdev?tab=repositories" target="_blank" class="fa fa-github"></a></li>
                    <li><a href="tg://addstickers?set=ptkdev" class="fa fa-ptkdev-stickers"><img src="/img/patryk_rzucidlo_ptkdev_stickers.png" alt="Stickers Telegram" /></a></li>
                    <li><a href="tg://resolve?domain=ptkdev" class="fa fa-telegram"></a></li>
                    <li><a href="mailto:info@ptkdev.it" target="_blank" class="fa fa-envelope"></a></li>
                </ul>
            </nav>
            <footer>
                © 2017. Open your source, open your mind.
            </footer>
        </div>
    </div>
    <div id="particles-js" class="particles-js"></div>
    <script>
        {% include "../js/vendor/jquery/jquery-3.2.1.min.js" ignore missing %}
        {% include "../js/vendor/particles/particles.min.js" ignore missing %}
        {% include "../js/vendor/particles/particles.json" ignore missing %}
        {% include "../js/default.js" ignore missing %}
        {% include "../js/sidebar.js" ignore missing %}
    </script>
    <div id="cache" class="cache">
    </div>
</body>

</html>